.header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 70px;
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 6px 8px 10px 0.5px rgba(217, 217, 217, 0.25);
    z-index: 1;

}

.user {
    display: flex;
    flex-direction: row;
    gap: 2px;
    max-height: 200px;
}

.header > img {
    height: 20px;
}

.user > img {
    height: 30px;
}

.userBtn {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}