.developing {
    position: absolute;
    left: calc(50vw - 400px);
    top: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
}