.main {
    padding: 40px 87px 10px;
    width: 100%;
    box-sizing: border-box;
    min-width: 800px;
    position: relative;
    margin-bottom: 80px;
    margin-top: calc(70px + 20px);
    min-height: calc(85vh - 70px);
}

