
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;


  color-scheme: light dark;
  background-color: #fbfafa;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mint-color: #8DD3BB;
  --mint-color-secondary: #35b789;
  --mint-color-third: #25906b;
  --grey-text: #112211;
  /* overflow-x: hidden; */
}

#root {
  width: 100vw;
  overflow-x: hidden;
  /* height: 52vh; */
}

.data-overlay-container {
  width: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

body:has([class*="overlay"]){
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  /* line-height: 1.1; */
  font-weight: 700;
}

h2 { 
  font-size: 2.2em;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.mint-btn {
  background-color: var(--mint-color);
  color: black;
  font-size: 16px;
  border-radius: 4px;
  padding: 14px 14px;
}

.mint-button:hover {
  background-color: var(--mint-color-secondary);
}

.btn-like {
  border: 1px solid var(--mint-color);
  padding: 14px 14px;
  /* width: 41px; */
  border-radius: 4px;
}

.operations-btn {
  background-color: var(--mint-color);
  color: white;
  height: 120px;
  border-radius: 10px;
  flex: 1 0 calc(33% - 12px);
}

.ant-select, .ant-select-selector {
    min-height: 42px;
    border: 1px solid black !important;
    background: white;
    color: #1C1B1F !important;
    box-sizing: border-box;
    /* padding: 2px 10px !important; */
    border-radius: 2px !important;
}

.ant-select-selector {
  height: 42px;
  border: 1px solid black !important;
  background: white;
  color: #1C1B1F !important;
  box-sizing: border-box;
  padding: 2px 10px !important;
  border-radius: 2px !important;
}

.ant-picker.ant-picker-range {
  height: 42px;
  border: 1px solid black !important;
  background: white;
  color: #1C1B1F !important;
  box-sizing: border-box;
  /* padding: 2px 10px !important; */
  border-radius: 2px !important;
}


/* antd pagination */
:where(.css-dev-only-do-not-override-1wwf28x).ant-pagination .ant-pagination-item-active a {
  color: black;
}
:where(.css-dev-only-do-not-override-1wwf28x).ant-pagination .ant-pagination-item-active {
  border-color: var(--mint-color);
}

@media (prefers-color-scheme: light) {
  a:hover {
      color: var(--mint-color-secondary);
  }
}

/* Reting Antd */
:where(.css-dev-only-do-not-override-1wwf28x).ant-rate .ant-rate-star:not(:last-child) {
  margin-right: 0px;
}